<mat-toolbar class="toolbar"> Covid 19 Line Charts </mat-toolbar>

<mat-drawer-container class="sidenavContainer">
  <mat-drawer class="sidenav" mode="side" opened>
    <div *ngFor="let item of countryList">
      <button
        mat-button
        class="countryNames menu-button"
        [routerLink]="['/country/', item.id]"
      >
        {{ item.name }}
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content class="content">
    <div *ngIf="isMain; else elseBlock">Covid Ortalaması</div>
    <ng-template #elseBlock>
      <div class="mt-10 notOverflow"><router-outlet> </router-outlet></div>
    </ng-template>
  </mat-drawer-content>
</mat-drawer-container>
